<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div>
        <a href="/" class="brand">
          <span class="brand__tile" aria-hidden="true"><svg viewBox="0 0 375 375" fill="none"><path d="M 329.433594 105.574219 L 329.433594 211.457031 L 328.6875 211.046875 L 295.929688 192.085938 L 295.929688 124.941406 L 187.53125 62.351562 L 95.851562 115.222656 L 124.941406 132.011719 L 187.53125 95.855469 L 284.035156 151.652344 L 158.035156 221.855469 L 187.191406 239.863281 L 245.027344 201.398438 L 270.308594 215.941406 L 290.289062 227.496094 L 323.792969 246.863281 L 328.6875 249.648438 L 328.6875 269.902344 L 187.53125 351.386719 L 45.5625 269.425781 L 45.5625 163.542969 L 79.066406 182.914062 L 79.066406 250.125 L 187.53125 312.71875 L 279.140625 259.777344 L 246.316406 240.816406 L 187.804688 279.6875 L 91.84375 220.359375 L 216.074219 151.105469 L 187.53125 134.59375 L 124.941406 170.746094 L 110.53125 162.457031 L 45.5625 124.941406 L 45.5625 105.574219 L 187.53125 23.613281 Z" fill="var(--green-bright)"/></svg></span>
          <span class="brand__name">Jungline<b>Local</b></span>
        </a>
        <p class="footer__claim"><b>Mehr Sichtbarkeit. Mehr Kunden. Mehr Umsatz.</b> Ich bringe regionale Unternehmen bei Google nach oben: persönlich, transparent, messbar.</p>
      </div>
      <div class="footer__cols">
        <div class="fcol">
          <h3>Angebot</h3>
          <a href="/leistungen/google-unternehmensprofil-optimierung/">Leistungen</a>
          <a href="/#branchen">Branchen</a>
          <a href="/ratgeber/">Ratgeber</a>
          <a href="/ueber-mich/">Über mich</a>
          <a href="/kontakt/">Kontakt</a>
        </div>
        <div class="fcol">
          <h3>Startseite</h3>
          <a href="/#vorher-nachher">Vorher &amp; Nachher</a>
          <a href="/#vorgehen">Vorgehen</a>
          <a href="/#ergebnisse">Ergebnisse</a>
          <a href="/#faq">FAQ</a>
        </div>
        <div class="fcol">
          <h3>Kontakt</h3>
          <a href="tel:+4917655769680">+49 176 55769680</a>
          <a href="mailto:Info@jungline.de">Info@jungline.de</a>
          <span>Rhader Straße 132<br>46286 Dorsten</span>
        </div>
        <div class="fcol">
          <h3>Rechtliches</h3>
          <a href="/impressum/">Impressum</a>
          <a href="/datenschutz/">Datenschutz</a>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <span>© <span id="year"></span> JunglineLocal. Alle Rechte vorbehalten.</span>
      <span>Google Unternehmensprofil Optimierung · bundesweit</span>
    </div>
  </div>
</footer>